<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container">

    <footer class="text-center text-lg-start mt-xl-5 pt-4">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <h4 class="text-uppercase mb-4">ABOUT US</h4>
                    <small class="text-white-50">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </small>

                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-4 mb-4 mb-lg-0">
                    <h4 class="text-uppercase mb-4">CONTACT US</h4>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-white-50"><small>Contact us</small></a>
                        </li>
                        <li>
                            <a href="#!" class="text-white-50"><small>Size Guide</small></a>
                        </li>
                        <li>
                            <a href="#!" class="text-white-50"><small>Shipping Information</small></a>
                        </li>
                        <li>
                            <a href="#!" class="text-white-50"><small>Returns & Exchanges</small></a>
                        </li>
                        <li>
                            <a href="#!" class="text-white-50">Payment</a>
                        </li>
                    </ul>

                    <h4 class="text-uppercase mb-4">FOLLOW US</h4>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="d-flex align-items-center"><i class="bi bi-facebook text-white me-2"></i><small class="text-white-50">Facebook</small></a>
                        </li>
                        <li>
                            <a href="#!" class="d-flex align-items-center"><i class="bi bi-linkedin text-white me-2"></i><small class="text-white-50">Size Guide</small></a>
                        </li>
                        <li>
                            <a href="#!" class="d-flex align-items-center"><i class="bi bi-instagram text-white me-2"></i><small class="text-white-50">Shipping Information</small></a>
                        </li>

                    </ul>

                </div>

                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-5 col-md-5 mb-4 mb-lg-0">
                    <h4 class="text-uppercase mb-4">SEND US A MESSAGE</h4>

                    <div class="form-outline form-white mb-4">
                        <div class="input-group">
                            <input type="email" id="form5Example2" class="my-2 form-control input-bg-color" placeholder="Your Name.." />
                        </div>
                        <div class="input-group">
                            <textarea class="form-control input-bg-color" placeholder="Write your message..." rows="5"></textarea>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success btn-block">Subscribe</button>


                    <button type="button" class="btn btn-light" style="{ position: absolute; right:3rem; bottom: -1rem;}">
                        <i class="bi bi-arrow-up"></i>
                    </button>

                </div>
                <!--Grid column-->
            </div>
        </div>

        <div class="text-center p-3 border-top border-white">
            © 2023 Copyright:
            <a class="text-white" href="#">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>

</div>
<!-- End of .container -->