<div class="bg-white">
    <div class="container">
        <div class="p-1">
            <div class="d-flex justify-content-between">
                <div class="text-black-50">
                    <i class="bi bi-envelope"></i>
                    <small>info@company.net</small>
                    <small class="mx-4">|</small>
                    <i class="bi bi-watch"></i>
                    <small> 08:00 AM - 05:00 PM </small>
                </div>
                <div class="text-black-50">
                    <a href="#" class="mx-3">
                        <i class="bi bi-facebook text-black-50"></i>
                    </a>
                    <a class="mx-3">
                        <i class="bi bi-twitter text-black-50"></i>
                    </a>
                    <a class="ms-3">
                        <i class="bi bi-linkedin text-black-50"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
<header class="p-4 text-bg-dark">
    <div class="container">

        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <a href="/" class="d-flex align-items-center justify-content-center mb-2 mb-lg-0 text-white text-decoration-none">
                <span class="logo-class">Alkhumra</span>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 mb-md-0 mx-auto">
                <li class="nav-item"><a href="#" class="nav-link px-2 mx-2 text-white">Home</a></li>
                <li><a href="#" class="nav-link px-2 mx-2 text-white">AlStore</a></li>
                <li><a href="#" class="nav-link px-2 mx-2 text-white">AlStore§ Lite</a></li>
                <li><a href="#" class="nav-link px-2 mx-2 text-white">Vending Machine</a></li>
                <li><a href="#" class="nav-link px-2 mx-2 text-white">Shop</a></li>
                <li><a href="#" class="nav-link px-2 mx-2 text-white">Contact Us</a></li>
                <li><a href="#" class="nav-link px-2 mx-2 text-white"><i class="fa-light fa-circle-phone"></i></a></li>
            </ul>

            <div class="text-end">
                <div>Icon</div>
            </div>

        </div>
    </div>
</header>